.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(44, 45, 42, 0.783);
  z-index: 1000;
}

.nav-container img {
  text-decoration: none;
  width: 80px;
  height: 50px;
  padding-left: 2rem;
}

.elements a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
    outline: none;
}

.elements {
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    cursor: pointer;

    li.menu-item {
      position: relative;

      &:hover .submenu {
        display: flex;
      }

      .submenu {
        display: none;
        position: absolute;
        flex-direction: column;
        color: white;
        background-color: rgb(51, 51, 51);
        border: 1px solid black;
        margin-top: 0.5rem;
        min-width: 150px;
        border-radius: 20px;
        z-index: 10;
        padding: 2rem;
        animation: slideDown 0.3s ease-out;


        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          list-style: none;
        }

        li {
          border-radius: 20px;
          background-color: rgb(133 180 0);
          text-align: center;
          align-items: center;
          justify-content: center;

          a {
            display: flex;
            text-decoration: none;

            &:hover {
              background-color: rgba(112, 112, 112, 0.9);
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}

.loginButton {
  background-color: rgb(133 180 0);
  padding: 5px;
  border-radius: 999px;
}

.responsive-menu {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  img {
    width: 30px;
    height: 30px;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 900px) {
  .nav-container {
    position: absolute;
    flex-wrap: wrap;
  }

  .elements {
    order: 3;
    width: 100%;
    padding-right: 2rem;

    ul {
      display: none;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      width: 100%;
      background-color: rgba(26, 26, 26);
      border-radius: 4px;
      animation: slideDown 0.6s ease-out;

      li {
        font-size: 1rem;
      }
    }
  }

  .submenu {
    max-width: 250px;
    padding: 1rem;
    li {
      max-width: 200px;
    }
    a {
      padding: 0.2rem;
    }
  }

  .elements.menu-open {
    ul {
      display: flex;
    }

    li {
      padding: 1rem;
    }
  }

  .loginButton {
    max-width: 150px;
  }

  .responsive-menu {
    display: flex;
    position: absolute;
    right: 4%;
    top: 2rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
