.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(45, 42, 42);
  z-index: 1000;
}

.nav-container img {
  width: 80px;
  height: 50px;
  padding-left: 2rem;
}

.elements a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: none;
}

.elements ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
}

.elements .menu-item {
  position: relative;
  font-size: 5rem;

}

.submenu {
  display: none;
  position: absolute;
  flex-direction: column;
  color: white;
  background-color: rgb(45, 42, 42);
  border-top: 1px solid rgb(78, 78, 78);
  min-width: 200px;
  border-radius: 5px;
  z-index: 10;
  padding: 2rem;


  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 42%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(78, 78, 78);
  }
}

.submenu.solu{
    &::before {
    left: 53%;
  }
}

.submenu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.submenu li {
  text-align: center;
  border-bottom: 1px solid rgb(199, 197, 197);
}

.submenu li a {
  display: flex;
  text-decoration: none;

  &:hover {
    background-color: rgba(112, 112, 112, 0.9);
  }
}

.loginButton {
  background-color: rgb(133 180 0);
  padding: 0 10px;
  border-radius: 10px;
}

.responsive-menu {
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  color: white;
}

.responsive-menu img {
  width: 30px;
  height: 30px;
  padding-bottom: 2rem;
  padding-right: 2rem;
}


@media (min-width: 901px) {
  .elements .menu-item {
    &:hover .submenu {
      display: flex !important;
    }

    &:hover .arrowButton {
      animation: slideOut 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
  }
}

@media (max-width: 900px) {
  .nav-container {
    flex-wrap: wrap;
  }

  .elements {
    order: 3;
    width: 100%;
    padding-right: 1rem;
  }

  .elements ul {
    display: none;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;

  }


  .elements ul li {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .elements.menu-open ul {
    display: flex;
  }

  .submenu {
    height: auto;
    max-width: 280px;
    background-color: rgb(51, 51, 51);
    font-size: 0.9rem;
    a {
      padding: 0.4rem;
    }
      &::before {
        content: none;
      }
  }

  .submenu li {
    margin-top: 10px;
  }

  .loginButton a {
    margin-left: 115px;
  }

  .responsive-menu {
    display: flex;
    position: absolute;
    right: 4%;
    top: 1rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}