.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 217, 3, 0.3);
    z-index: 1;
    pointer-events: none;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}