.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(133, 180, 0, 0.3);
    z-index: 1;
    pointer-events: none;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  flex-direction: column;
  padding: 5rem;
}

.hero-title {
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;

  .letter {
    display: inline-block;
    animation: fadeInUp 0.2s ease-out forwards;
    opacity: 0;
  }
}

.hero-rotating-text {
  font-size: 4rem;
  color: rgb(133, 180, 0);
  background-color: rgb(55, 54, 54);
  font-weight: 600;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
