<div class="hero-container">
  <section class="hero">
    <video
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
      playsinline
      autoplay
      loop
      muted
    >
      <source src="/assets/intro-video.mp4" type="video/mp4" />
    </video>

    <div class="hero-content">
      <h1 class="hero-title">
        @for (letter of titleLetters; track $index) {
          <span class="letter" [style.animation-delay]="$index * 0.1 + 's'">{{ letter }}</span>
        }
      </h1>
      <h2 class="hero-subtitle">A Nova Geração de Concursos Online</h2>
    </div>
  </section>
</div>
