.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(133, 180, 0, 0.3);
    z-index: 1;
    pointer-events: none;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
}

.hero-title {
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.976);
  transform: skew(-6deg);
  padding: 3rem 4rem;
  animation: FadeDown 0.5s ease-out forwards;

  .letter {
    animation: fadeInUp 0.2s ease-out forwards;
    opacity: 0;
    color: #ffffff;
  }

  .letter-special {
    animation: fadeInUp 0.2s ease-out forwards;
    opacity: 0;
    color: rgb(133, 180, 0);
  }
}

.hero-subtitle {
  font-size: 1.6rem;
  animation: fadeInUp 0.8s ease-out forwards;
  background-color: rgb(132, 180, 0);
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  margin-top: -100px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
    padding: 2rem 3rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    padding: 1.5rem;
    margin-top: -40px;
  }
}
