<section class="how">
  <div class="container">
    <h2>¿Que Tipo de Concursos Pode Criar?</h2>
    <p class="subtitle">
      A nossa plataforma suporta todos os tipos de concursos ligados ao setor da construção
    </p>

    <div class="hover-cards">
      <article class="hover-card">
        <div class="icon-large1"><fa-icon class="icon" [icon]="faDigging"></fa-icon></div>
        <h3>Concursos de Construção</h3>
        <p>
          Publique concursos para obras novas, remodelações, legalizações ou ampliações, e encontre
          as melhores empresas para o seu projeto.
        </p>
      </article>

      <article class="hover-card">
        <div class="icon-large2"><fa-icon class="icon" [icon]="faNewspaper"></fa-icon></div>
        <h3>Concursos de Serviços</h3>
        <p>
          Gestão de obra, fiscalização, arquitetura, engenharia, topografia e outros serviços
          técnicos, tudo com total transparência e controlo.
        </p>
      </article>

      <article class="hover-card">
        <div class="icon-large3"><fa-icon class="icon" [icon]="faHelmet"></fa-icon></div>
        <h3>Concursos de Subcontratação</h3>
        <p>
          Encontre subempreiteiros especializados para fases específicas da contrução desde
          estruturas a acabamentos.
        </p>
      </article>

      <article class="hover-card">
        <div class="icon-large4"><fa-icon class="icon" [icon]="faScrews"></fa-icon></div>
        <h3>Outros</h3>
        <p>
          Organize concursos para o aluguer de equipamentos, fornecimento de materiais de construção
          ou qualquer outra necessidade do setor.
        </p>
      </article>
    </div>
  </div>
</section>
