<footer>
  <img src="../assets/licitanow.png" alt="Imagem de fundo do footer" class="footer-background" />
  <div class="social-media">
    <a href="https://www.facebook.com/licitanow" target="_blank">
      <fa-icon [icon]="faFacebook"></fa-icon
    ></a>
    <a href="https://www.twitter.com/licitanow" target="_blank"><fa-icon [icon]="faX"></fa-icon></a>
    <a href="https://www.linkedin.com/company/licitanow" target="_blank"
      ><fa-icon [icon]="faLinkedIn"></fa-icon
    ></a>
    <a href="https://www.instagram.com/licitanow" target="_blank"
      ><fa-icon [icon]="faInstagram"></fa-icon
    ></a>
  </div>

  <div class="middle-content">
    <div class="contact-info">
      <h3>Entre em <span>contato</span></h3>
      <p><fa-icon [icon]="faEmail"></fa-icon> geral@licitanow.com</p>
      <p><fa-icon [icon]="faEmail"></fa-icon> contabilidade@macrislda.com</p>
    </div>
    <div class="newsletter">
      <h3>Subscreva a Nossa <span>Newsletter</span></h3>
      <p>Receba as últimas notícias e atualizações diretamente no seu e-mail.</p>
      <form>
        <input type="email" placeholder="Digite seu e-mail" name="email" required />
        <button type="submit"><fa-icon [icon]="faPaper"></fa-icon></button>
      </form>
    </div>
  </div>
  <div class="footer-img-banner">
    <img src="../assets/prr_barra.png" alt="Banner do footer" />
  </div>
  <div class="copyright">
    <p>
      <fa-icon [icon]="faCopyright"></fa-icon> 2025 LicitaNow. Marca registada, propriedade de
      Macris Lda. Todos os direitos reservados.
    </p>

    <div class="legal-links">
      <a href="#" target="_blank">Politica de Privacidade</a>
      <a href="#" target="_blank">Termos e Condições</a>
      <a href="#" target="_blank">Livro de Reclamações</a>
    </div>
  </div>
</footer>
