.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.strip {
  background: gainsboro;
  border-top: 1px solid #e9edf3;
  border-bottom: 1px solid #e9edf3;
  padding: 1rem 0;
}
.strip-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 600;
  color: var(--color-text-title);
}

@media (max-width: 900px) {
  .strip {
    display: none;
  }
}
