h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.numbers-content-container {
  margin: 0 auto;
  max-width: 1600px;
  border-bottom: 2px solid rgba(132, 180, 0, 0.238);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.numbers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px;
  margin: 0 auto;
}

.icon {
  color: rgb(133, 180, 0);
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;

  p {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(133, 180, 0);
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }
}

@media (max-width: 900px) {
  .numbers-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats {
    p {
      font-size: 3rem;
    }

    h4 {
      font-size: 1rem;;
    }
  }
}
