<section class="values">
  <h2>Os Nossos Princípios</h2>
  <p class="subtitle">
    Confiança, transparência e valor. Estes princípios orientam tudo o que fazemos
  </p>
  <div class="content-left">
    <div class="text-left">
      <h3>Sem Subscrição</h3>
      <p>
        Pague apenas pelo que utiliza. Sem taxas ocultas, sem encargos recorrentes, sem compromisso
      </p>
    </div>
    <div class="img-right">
      <img src="assets/nosubs.png" alt="values" />
    </div>
  </div>
  <div class="content-right">
    <div class="img-left">
      <img src="assets/values.png" alt="values" />
    </div>
    <div class="text-right">
      <h3>Transparência</h3>
      <p>
        Visibilidade total sobre todos os processos, preços e progresso dos projetos. O que vê é
        exatamente o que obtém
      </p>
    </div>
  </div>
  <div class="content-left">
    <div class="text-left">
      <h3>Criar Concursos Grátis</h3>
      <p>
        Inicie o seu concurso sem custos. Obtenha propostas competitivas de empreiteiros
        qualificados sem taxas iniciais
      </p>
    </div>
    <div class="img-right">
      <img src="assets/values.png" alt="values" />
    </div>
  </div>
  <div class="content-right">
    <div class="img-left">
      <img src="assets/values.png" alt="values" />
    </div>
    <div class="text-right">
      <h3>Colaboradores</h3>
      <p>
        Adira ao nosso programa de colaboradores e receba uma percentagem dos créditos utilizados
        pelos convidados que trouxe para a plataforma
      </p>
    </div>
  </div>
</section>
