<section class="sobre-container">
  <h2>Sobre a LicitaNow</h2>

  <div class="sobre-content">
    <div class="sobre-text">
      <h3>Nosso Serviço</h3>
      <p>
        Fornecemos soluções digitais inovadoras para o setor da construção, simplificando e
        otimizando todo o processo de contratação e gestão de projetos. A LicitaNow garante
        eficiência, fiabilidade e rigor em cada etapa, desde a organização de concursos até à
        fiscalização de obras privadas e públicas.
      </p>

      <h3>¿Quem pode participar?</h3>

      <p>
        A nossa plataforma permite que particulares, empresas e profissionais da construção civil
        submetam propostas para execução de obras, projetos de arquitetura e especialidades, assim
        como para outras necessidades específicas dos Donos de Obra.
      </p>

      <p>
        Os participantes apresentam as suas propostas diretamente na plataforma, sendo geralmente
        adjudicada a proposta mais baixa. Em caso de incumprimento contratual, asseguramos a
        substituição pela proposta imediatamente seguinte mais vantajoso.
      </p>

      <p>
        A LicitaNow abrange diversos segmentos, incluindo bens físicos, serviços, imóveis e produtos
        relacionados com a construção civil, bem como produtos digitais associados ao setor.
      </p>
    </div>
    <div class="sobre-image-container">
      <img src="/assets/cityview.jpg" alt="Imagem sobre a LicitaNow" class="sobre-image" />
    </div>
  </div>
  <div class="sobre-button">
    <a href="#">Conheça melhor a nossa história <fa-icon [icon]="faPlus"></fa-icon></a>
  </div>
</section>
