<section class="works-container">
  <h2>¿Como Funciona?</h2>
  <p class="subtitle">Da criação do concurso à conclusão do projeto em quatro passos simples</p>

  <div class="works-wrapper">
    <div class="steps">
      <div class="icon-wrapper">
        <fa-icon class="icon" [icon]="faList"></fa-icon>
        <h3>Etapa 1</h3>
      </div>
      <fa-icon class="arrow" [icon]="faArrowRight"></fa-icon>
      <div class="content">
        <h2>Criar Concurso</h2>
        <p>Publique o seu projeto com todos os requisitos detalhados</p>
      </div>
    </div>
    <div class="steps">
      <div class="icon-wrapper">
        <fa-icon class="icon" [icon]="faStop"></fa-icon>
        <h3>Etapa 2</h3>
      </div>
      <fa-icon class="arrow" [icon]="faArrowRight"></fa-icon>
      <div class="content">
        <h2>Receber Propostas</h2>
        <p>Os interessados apresentam propostas</p>
      </div>
    </div>
    <div class="steps">
      <div class="icon-wrapper">
        <fa-icon class="icon" [icon]="faTrophy"></fa-icon>

        <h3>Etapa 3</h3>
      </div>
      <fa-icon class="arrow" [icon]="faArrowRight"></fa-icon>
      <div class="content">
        <h2>Vencedor Automático</h2>
        <p>A proposta mais baixa é selecionada automaticamente quando o tempo termina</p>
      </div>
    </div>
    <div class="steps">
      <div class="icon-wrapper">
        <fa-icon class="icon" [icon]="faComment"></fa-icon>

        <h3>Etapa 4</h3>
      </div>
      <fa-icon class="arrow" [icon]="faArrowRight"></fa-icon>
      <div class="content">
        <h2>Pós Concurso</h2>
        <p>Comunique e partilhe ficheiros de forma gratuita através da plataforma</p>
      </div>
    </div>
  </div>
    <div class="sobre-button">
    <a href="#">Crie o Seu Primeiro Concurso <fa-icon [icon]="faPlus"></fa-icon></a>
  </div>
</section>
