.works-container {
  max-width: 1600px;
  border-bottom: 2px solid rgba(132, 180, 0, 0.238);
  margin: 0 auto;
  padding: 3rem 1rem;
  text-align: center;
}

.works-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}
.subtitle {
  color: #5d6470;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 120px 1fr;
  border-bottom: 2px solid rgba(132, 180, 0, 0.238);
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(132, 180, 0);
  }

}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-left: 70%;
}

.icon-wrapper .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(73, 72, 72);
  color: #9bbd3f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.icon-wrapper h3 {
  margin: 0;
  margin-top: -20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f5f5;
  background: rgb(73, 72, 72);
  padding: 0.25rem 0.7rem;
  border-radius: 999px;
}

.arrow {
  font-size: 2.5rem;
  color: #484747;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  background: #f9fafb;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  min-height: 120px;
  max-width: 300px;
  text-align: center;
}

.content h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.7rem;
  color: #000000;
}

.content p {
  margin: 0;
  color: #5b616b;
  font-size: 1.2rem;
  line-height: 1.5;
}

.sobre-button {
  margin: 2rem auto 0;
  text-align: center;
  max-width: 200px;
  padding: 1rem 2rem;
  background-color: rgb(73, 72, 72);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  &:hover {
    background-color: rgb(113, 160, 0);
  }
  a {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 900px) {
  .steps {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }

  .arrow {
    transform: rotate(90deg);
  }

  .content {
    margin: auto;
  }

  .icon-wrapper {
    padding-left: 0;
  }

  .arrow {
    padding-left: 0;
  }
}
