<section class="button-container">
  <img src="./assets/oriente.jpg" alt="Imagen de fondo" class="background-image" />

  <div class="content-wrapper">
    <h2 class="title">Transforme o Seu Negócio de Construção Hoje</h2>
    <p>Junte-se à revolução da construção.</p>
    <p>Comece a criar ou licitar em leilões e descubra novas oportunidades na indústria.</p>
  </div>

  <div class="button-group">
    <a href="#" class="btn btn-primary">Começar Agora <fa-icon [icon]="faCirclePlay"></fa-icon></a>
    <a href="#" class="btn btn-secondary"
      >Agendar um demo <fa-icon [icon]="faPersonChalkboard"></fa-icon
    ></a>
  </div>
</section>
